:root {
  --primary: #3444ef;
  --border: #979797;
  --header: #071f42;
  --background: #0b377f;
  --miss: #efefef;
  --ship: #6e6a6a;
}

.App {
  text-align: center;
}

body {
  background: #dddddd;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0%;
  height: 100vh;
}

header {
  min-height: 5vh;
  color: var(--primary);
  z-index: 2;
  margin: 20px 50px;
}

.header-game-name {
  color: var(--header);
  font-size: 60px;
}

.boards-container {
  display: flex;
  width: 1000px;
  margin: 10px auto;
  justify-content: center;
  gap: 40px;
  align-items: center;
  text-align: center;
}

.game-board {
  margin: 0 auto;
  width: 60vh;
  height: 60vh;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  border: 2px solid var(--border);
  cursor: pointer;
  background-color: var(--primary);
}

.board-name {
  border: var(--border);
  font-size: 25px;
  padding: 0 10px;
}

.grid-square {
  position: relative;
  border: 1px solid #4b9c66;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: red;
  box-sizing: border-box;
}

.grid-square.Player {
  border: 1px solid #b5d4e0b9;
}

.hover-ship {
  background-color: #a0b695;
}

.hover-aim {
  background-color: #12ff0044;
}

.orientation-button {
  color: #000000;
  padding: 5px;
  border: 2px solid var(--border);
  outline: none;
  font-size: 16px;
  font-family: Roboto;
  cursor: pointer;
}